body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

#nav-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: red;
}

.active {
    color: red;
}

.mini_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 100% 100%; */
    gap: 10px;
    padding: 5px;
    height: 30rem;
}

.Header {
    text-align: center;
    padding: 5px;
    height: 38rem;
    background-image: 
        linear-gradient(
        rgba(28, 62, 197, 0.45),
        rgba(28, 62, 197, 0.45)
        ),
    url(bg1.webp);
}

#Welcome_title {
    margin-top: 14rem;
    font-size: 32px;
    color: white;
}

#Page_title {
    font-size: 96px;
    margin-top: -1%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.About_wrapper {
    background-color: rgb(20, 20, 238);
}

#About, #Builder {
    width: 50%;
    margin: auto;
    margin-left: 20rem;
}

#Prototype {
    width: 50%;
    margin: auto;
    margin-right: 20rem;
}

.go_to_about_button {
    align-items: center;
    background-color: #c20a0a;
    border: 0;
    border-radius: 75px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 12px;
    justify-content: center;
    max-width: 480px;
    min-height: 32px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-left: 0.1rem;
}

.go_to_prototype_button {
    align-items: center;
    background-color: #c20a0a;
    border: 0;
    border-radius: 75px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-size: 12px;
    justify-content: center;
    max-width: 480px;
    min-height: 32px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-left: 0.1rem;
}

#Abouimg {
    margin: auto;
    width: 50%;
    margin-right: 20rem;
}

#Protoimg {
    margin: auto;
    width: 50%;
    margin-left: 20rem;
}

.line_thing {
    width: 10%;
    background-color: red;
    height: 0.28rem;
    margin-left: 0.3rem;
}

.Prototype_wrapper {
    background-color: rgb(47, 94, 186);
}

.Builder_wrapper {
    background-color: rgb(131, 173, 220);
}